
/**** General ****/
html, body{
	@media #{$small-only} {
		font-size: 85%;
	}
}
$titleColor: #333;/*solid black*/
$titleColorHover: #686868;/*kinda black*/
$footerBg: #1b1b1b;
$inTitlesFontSize: rem-calc(16);
.top-bar-section .has-dropdown > a:after {border: 0 none};
.my-divider { 
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #5f9f6f));
}
.inTitles{font-size: $inTitlesFontSize; text-transform: uppercase;}
.detailsTxt{font-size: rem-calc(13);font-style: italic;}
::selection,
::-moz-selection{
	background: $topbar-bg-color;
}
.newsletter-form{
	input[type="text"]{
		border: 1px solid #e74c3c;
	}
	.subscribe{
		font-size: rem-calc(12);
		font-weight: bold;
		background: #e74c3c;
	}
}
.error{
	background: transparent !important;
	padding-left :0 !important;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.upper{text-transform: uppercase;}
.panel{box-shadow: 4px 3px 6px -2px #d6d6d6;}